{% extends 'base.html' %}

{% block content %}
<section class="pending-changes-section">
    <h2>Te Verwerken Wijzigingen</h2>
    <ul class="pending-changes-list">
        <li>afdwingen van bepaalde invoer / validatie</li>
        <li>standaard moeten alleen activeve casussen en toewijzingen van de ingelogde persoon getoond worden</li>
        <li>Zoeken op persoon toevoegen</li>
        <li>Wachtwoord wijzigen</li>
        <li>Koppeling met AFAS toevoegen</li>
        <li>Autorisatie toevoegen</li>
        <li>notitites op persoonsniveau</li>
        <li>Maatwerkbudget verwerken als (intern) product</li>
        <li>casushouder is niet verplicht in status triage en aanmeldteam</li>
        <li>changelog, mn op status</li>
        <li>standaard invoer vergemakkelijken. Bijvoorbeeld een bjh traject met bjh toewijzing</li>
    </ul>
</section>
<section class="pending-changes-section">
    <h2>Verwerkte Wijzigingen</h2>
    <ul class="pending-changes-list">
        <li>Wachtwoord wijzigen</li>
    </ul>
</section>
{% endblock %}
